# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Image file formats you don't want to track
*.HEIC
*.heic
*.zip

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sql
*.sqlite